<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bank.mapper.NewsMapper">
    
    <resultMap type="News" id="NewsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="author"    column="author"    />
        <result property="watch"    column="watch"    />
    </resultMap>

    <sql id="selectNewsVo">
        select id, title, content, image, author, watch from news
    </sql>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="watch != null  and watch != ''"> and watch = #{watch}</if>
        </where>
    </select>
    
    <select id="selectNewsById" parameterType="String" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNews" parameterType="News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="image != null">image,</if>
            <if test="author != null">author,</if>
            <if test="watch != null">watch,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="image != null">#{image},</if>
            <if test="author != null">#{author},</if>
            <if test="watch != null">#{watch},</if>
         </trim>
    </insert>

    <update id="updateNews" parameterType="News">
        update news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="author != null">author = #{author},</if>
            <if test="watch != null">watch = #{watch},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsById" parameterType="String">
        delete from news where id = #{id}
    </delete>

    <delete id="deleteNewsByIds" parameterType="String">
        delete from news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>