<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bank.mapper.ChartMapper">
    
    <resultMap type="Chart" id="ChartResult">
        <result property="id"    column="id"    />
        <result property="dwfeRateLJ"    column="dwfeRateLJ"    />
        <result property="dyejiLjSYL"    column="dyejiLjSYL"    />
        <result property="ratingSimilarAve"    column="ratingSimilarAve"    />
        <result property="ratioLJ"    column="ratioLJ"    />
    </resultMap>

    <sql id="selectChartVo">
        select id, dwfeRateLJ, dyejiLjSYL, ratingSimilarAve, ratioLJ from chart
    </sql>

    <select id="selectChartList" parameterType="Chart" resultMap="ChartResult">
        <include refid="selectChartVo"/>
        <where>  
            <if test="dwfeRateLJ != null  and dwfeRateLJ != ''"> and dwfeRateLJ = #{dwfeRateLJ}</if>
            <if test="dyejiLjSYL != null  and dyejiLjSYL != ''"> and dyejiLjSYL = #{dyejiLjSYL}</if>
            <if test="ratingSimilarAve != null  and ratingSimilarAve != ''"> and ratingSimilarAve = #{ratingSimilarAve}</if>
            <if test="ratioLJ != null  and ratioLJ != ''"> and ratioLJ = #{ratioLJ}</if>
        </where>
    </select>
    
    <select id="selectChartById" parameterType="String" resultMap="ChartResult">
        <include refid="selectChartVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertChart" parameterType="Chart">
        insert into chart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="dwfeRateLJ != null">dwfeRateLJ,</if>
            <if test="dyejiLjSYL != null">dyejiLjSYL,</if>
            <if test="ratingSimilarAve != null">ratingSimilarAve,</if>
            <if test="ratioLJ != null">ratioLJ,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="dwfeRateLJ != null">#{dwfeRateLJ},</if>
            <if test="dyejiLjSYL != null">#{dyejiLjSYL},</if>
            <if test="ratingSimilarAve != null">#{ratingSimilarAve},</if>
            <if test="ratioLJ != null">#{ratioLJ},</if>
         </trim>
    </insert>

    <update id="updateChart" parameterType="Chart">
        update chart
        <trim prefix="SET" suffixOverrides=",">
            <if test="dwfeRateLJ != null">dwfeRateLJ = #{dwfeRateLJ},</if>
            <if test="dyejiLjSYL != null">dyejiLjSYL = #{dyejiLjSYL},</if>
            <if test="ratingSimilarAve != null">ratingSimilarAve = #{ratingSimilarAve},</if>
            <if test="ratioLJ != null">ratioLJ = #{ratioLJ},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChartById" parameterType="String">
        delete from chart where id = #{id}
    </delete>

    <delete id="deleteChartByIds" parameterType="String">
        delete from chart where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>