<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cumt.bankapp.mapper.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="author"    column="author"    />
        <result property="watch"    column="watch"    />

    </resultMap>

    <sql id="selectNewsVo">
        select id , title , content , iamge , author , watch from news
    </sql>
    <update id="updateWatch" parameterType="String">
        update news set watch = watch + 1 where id =#{id}
    </update>
    <update id="updateLikes">
        <choose>
            <when test="like == 1">
                update `likes` set `like` = #{like} where newsId = #{newsId} and userId = #{userId};
                update `likes` set `like` = `like`+1 where newsId = #{newsId} and userId = null
            </when>
            <otherwise>
                update `likes` set `like` = #{like} where newsId = #{newsId} and userId = #{userId};
                update `likes` set `like` = `like`- 1 where newsId = #{newsId} and userId = null
            </otherwise>
        </choose>

    </update>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>
            <if test="id != null">and id = '#{id}' </if>
            <if test="title != null">and title = '#{title}'</if>
            <if test="content != null">and content = '#{content}'</if>
            <if test="image != null">and image = '#{image}'</if>
            <if test="author != null">and author = '#{author}'</if>
            <if test="watch != null">and author = '#{watch}'</if>
        </where>
    </select>

    <select id="selectNewsById" parameterType="String" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where id = #{id}
    </select>
    <select id="selectLikes" resultType="java.lang.String">
        select newsId from `likes` where newsId = #{newsId} and userId = #{userId}
    </select>

    <insert id="insertNews" parameterType="News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">id,</if>
        <if test="title != null">title,</if>
        <if test="content != null">content,</if>
        <if test="image != null">image,</if>
        <if test="author != null">author,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">'${id}',</if>
            <if test="title != null">'${title}',</if>
            <if test="content != null">'${content}',</if>
            <if test="image != null">'${image}',</if>
            <if test="author != null">'${author}',</if>
        </trim>
    </insert>

    <insert id="insertBatchNews" parameterType="java.util.List">
        insert into news
        (id, title, content, image, author)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.title},
            #{item.content},
            #{item.image},
            #{item.author}
            )
        </foreach>
    </insert>
    <insert id="insertLikes">
       insert into `likes` (newsId,userId,`like`) values (#{newsId},#{userId},1);
       update `likes` set `like` = `like`+1 where newsId = #{newsId} and userId = null
    </insert>


    <delete id="deleteAllNews" >
        delete from news
    </delete>



</mapper>